body {
  font-family: "Josefin Sans", sans-serif !important;
}

#title {
    text-align: center;
}

#title h1 {
    font-size: 90px !important;
}

img {
    width: 100%;
}

p {
    margin-left: 40px;
}

#odd {
    background-color:lightgreen;
    border-radius: 20px;
}